/* CSS declarations go here */
body {
  font-family: sans-serif;
  font: arial;
  background-color: #ddd;
  background-image: linear-gradient(to bottom, #ddd, #aaa 100%);
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 14px;
}
 
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
}
 
header {
  background: #333;
  padding: 20px 15px 15px 15px;
  position: relative;
  margin-bottom: 0;
  color: #eee;
}
 
#login-buttons {
  display: block;
}
 
h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
textarea {
  font-family: sans-serif;
}

header form {
  margin: 10px -15px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-entry textarea {
  box-sizing: border-box;
  background: transparent;
  border: none;
  width: 100% !important;
  padding: 10px 80px 10px 10px;
  font-size: 1em;
  resize: none;
  color: #ff0;
}
.new-entry textarea:focus {
  outline: 0;
}

.new-entry .submitBtn {
  margin: 2px 10px 5px;
  width: 100px;
  height: 20px;
  border: none;
  background: #dd0;
  color: #222;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px #222, 0px 0px 0px 2px #dd0;
  border-radius: 2px;
  display: none;
}
.new-entry.edited .submitBtn {
  display: inline;
}
.new-entry .submitBtn:after {
  content: 'Submit Post';
}
.new-entry .submitBtn:hover:after {
  content: 'Alt + Enter';
}
 
ul {
  margin: 0;
  padding: 0;
}
 
.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
  margin-bottom: 0;
  background: #fff;
}
li:first-child:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -5px;
  height: 1px;
  width: 100%;
  box-shadow: 0 5px 5px 0 #000;
}
 
li .editBtn {
  display: none;
}
li .entry-edit.edited .editBtn {
  display: inline;
}
li .editBtn:after {
  content: 'Update Post';
}
li .editBtn:hover:after {
  content: 'Alt + Enter';
}
li .entry-edit textarea {
  /*margin-left: 10px;*/
  box-sizing: border-box;
  background: transparent;
  border: 1px solid transparent;
  width: 100% !important;
  padding: 10px 80px 10px 10px;
  font-size: 1em;
  resize: none;
}
li .entry-edit textarea:hover, li .entry-edit textarea:focus, li .entry-edit textarea:active {
  background: white;
  border: 1px solid grey;
}
 
li.checked, li.checked * {
  color: red;
}
 
li.private {
  margin-top: -1px;
  background: #eee;
  border-color: #ddd;
  box-shadow: inset 0 1px 0 0 #ddd;
}
 
header .hide-unimportant {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-entry input {
    padding-bottom: 5px;
  }
}