/* ==========================================================================
   MASTER-VARIABLES FILE
   ========================================================================== */

// ONLY VARIABLES GO IN HERE!  Always suffix them with !default so they don't get overwritten if importing more than once.
// Example: $header-background-color: white !default;

/**
 * COLORS
 */
$transparent: transparent;
$white: #fff;
$almostwhite: #efefef;
$lightgrey: #e2e1e0;
$lightmediumgrey: #eee;
$mediumgrey: #c8c8c8;
$darkmediumgrey: #999;
$darkgrey: #666;
$almostblack: #222;
$black: #000;
$yellow: #ff0;
$darkyellow: #ee3;
$lightred: rgb(255,250,250);
$red: rgb(255,50,50);
$darkred: rgb(150,0,0);
$lightgreen: rgb(250,255,250);
$green: rgb(0, 200, 0);
$darkgreen: rgb(0, 150, 0);
$blue: #3498db;
$darkblue: #2980b9;

/**
 * Base
 */

$darkbg: #3c4145;
$text: $black !default;
$link: blue !default;
$linkhover: rgb(0,0,238) !default;


/**
 * Sizes
 */
$headerheight: 57px;
$headerheight-baby: 35px;

/**
 * Breakpoints
 */
$breakpoint-mama: 930px;
$breakpoint-baby: 610px;
$breakpoint-flunder: 500px;
