/* ==========================================================================
   MASTER-VARIABLES FILE
   ========================================================================== */

// ONLY VARIABLES GO IN HERE!  Always suffix them with !default so they don't get overwritten if importing more than once.
// Example: $header-background-color: white !default;

/**
 * COLORS
 */
$transparent: transparent;
$white: #fff;
$almostwhite: #efefef;
$lightgrey: #f3f3f3;
$lightmediumgrey: #eee;
$mediumgrey: #ccc;
$darkmediumgrey: #999;
$darkgrey: #666;
$almostblack: #222;
$black: #000;


/**
 * Base
 */

$text: $black !default;
$link: blue !default;
$linkhover: rgb(0,0,238) !default;

$yellow: #ff0;
$darkyellow: #ee3;
$red: red;
$darkred: red;
$green: rgb(0, 200, 0);
$darkgreen: rgb(0, 150, 0);
$blue: #3498db;
$darkblue: #2980b9;

/**
 * Sizes
 */
$headerheight: 57px;
$headerheight-baby: 35px;
$footerheight: 160px;

/**
 * Breakpoints
 */
$breakpoint-mama: 930px;
$breakpoint-baby: 650px;
$breakpoint-flunder: 500px;
