@font-face {
  font-family: 'icomoon';
  src:  url('/fonts/icomoon.eot?bnf8r3');
  src:  url('/fonts/icomoon.eot?bnf8r3#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?bnf8r3') format('truetype'),
    url('/fonts/icomoon.woff?bnf8r3') format('woff'),
    url('/fonts/icomoon.svg?bnf8r3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-schedule:before {
  content: "\e8b5";
}
.icon-account_box:before {
  content: "\e851";
}
.icon-account_circle:before {
  content: "\e853";
}
.icon-add:before {
  content: "\e145";
}
.icon-add_a_photo:before {
  content: "\e439";
}
.icon-alarm_add:before {
  content: "\e856";
}
.icon-add_alert:before {
  content: "\e003";
}
.icon-add_box:before {
  content: "\e146";
}
.icon-add_circle:before {
  content: "\e147";
}
.icon-control_point:before {
  content: "\e3ba";
}
.icon-add_location:before {
  content: "\e567";
}
.icon-queue:before {
  content: "\e03c";
}
.icon-alarm_off:before {
  content: "\e857";
}
.icon-alarm_on:before {
  content: "\e858";
}
.icon-all_inclusive:before {
  content: "\eb3d";
}
.icon-announcement:before {
  content: "\e85a";
}
.icon-apps:before {
  content: "\e5c3";
}
.icon-archive:before {
  content: "\e149";
}
.icon-arrow_back:before {
  content: "\e5c4";
}
.icon-arrow_downward:before {
  content: "\e5db";
}
.icon-arrow_drop_down:before {
  content: "\e5c5";
}
.icon-arrow_drop_down_circle:before {
  content: "\e5c6";
}
.icon-arrow_drop_up:before {
  content: "\e5c7";
}
.icon-arrow_forward:before {
  content: "\e5c8";
}
.icon-arrow_upward:before {
  content: "\e5d8";
}
.icon-aspect_ratio:before {
  content: "\e85b";
}
.icon-poll:before {
  content: "\e801";
}
.icon-flag:before {
  content: "\e153";
}
.icon-attach_file:before {
  content: "\e226";
}
.icon-attach_money:before {
  content: "\e227";
}
.icon-attachment:before {
  content: "\e2bc";
}
.icon-audiotrack:before {
  content: "\e3a1";
}
.icon-autorenew:before {
  content: "\e863";
}
.icon-backspace:before {
  content: "\e14a";
}
.icon-cloud_upload:before {
  content: "\e2c3";
}
.icon-beenhere:before {
  content: "\e52d";
}
.icon-block:before {
  content: "\e14b";
}
.icon-turned_in:before {
  content: "\e8e6";
}
.icon-turned_in_not:before {
  content: "\e8e7";
}
.icon-border_color:before {
  content: "\e22b";
}
.icon-brightness_1:before {
  content: "\e3a6";
}
.icon-build:before {
  content: "\e869";
}
.icon-cached:before {
  content: "\e86a";
}
.icon-call_made:before {
  content: "\e0b2";
}
.icon-call_received:before {
  content: "\e0b5";
}
.icon-photo_camera:before {
  content: "\e412";
}
.icon-cancel:before {
  content: "\e5c9";
}
.icon-casino:before {
  content: "\eb40";
}
.icon-chat:before {
  content: "\e0b7";
}
.icon-chat_bubble:before {
  content: "\e0ca";
}
.icon-chat_bubble_outline:before {
  content: "\e0cb";
}
.icon-check:before {
  content: "\e5ca";
}
.icon-check_box:before {
  content: "\e834";
}
.icon-check_box_outline_blank:before {
  content: "\e835";
}
.icon-check_circle:before {
  content: "\e86c";
}
.icon-navigate_before:before {
  content: "\e408";
}
.icon-navigate_next:before {
  content: "\e409";
}
.icon-child_friendly:before {
  content: "\eb42";
}
.icon-close:before {
  content: "\e5cd";
}
.icon-wb_cloudy:before {
  content: "\e42d";
}
.icon-cloud_done:before {
  content: "\e2bf";
}
.icon-cloud_download:before {
  content: "\e2c0";
}
.icon-cloud_off:before {
  content: "\e2c1";
}
.icon-cloud_queue:before {
  content: "\e2c2";
}
.icon-code:before {
  content: "\e86f";
}
.icon-photo_library:before {
  content: "\e413";
}
.icon-comment:before {
  content: "\e0b9";
}
.icon-compare_arrows:before {
  content: "\e915";
}
.icon-content_cut:before {
  content: "\e14e";
}
.icon-mode_edit:before {
  content: "\e254";
}
.icon-date_range:before {
  content: "\e916";
}
.icon-dehaze:before {
  content: "\e3c7";
}
.icon-delete:before {
  content: "\e872";
}
.icon-delete_forever:before {
  content: "\e92b";
}
.icon-description:before {
  content: "\e873";
}
.icon-not_interested:before {
  content: "\e033";
}
.icon-do_not_disturb_alt:before {
  content: "\e611";
}
.icon-done:before {
  content: "\e876";
}
.icon-done_all:before {
  content: "\e877";
}
.icon-drag_handle:before {
  content: "\e25d";
}
.icon-euro_symbol:before {
  content: "\e926";
}
.icon-insert_invitation:before {
  content: "\e24f";
}
.icon-event_available:before {
  content: "\e614";
}
.icon-event_busy:before {
  content: "\e615";
}
.icon-event_note:before {
  content: "\e616";
}
.icon-exit_to_app:before {
  content: "\e879";
}
.icon-expand_less:before {
  content: "\e5ce";
}
.icon-expand_more:before {
  content: "\e5cf";
}
.icon-extension:before {
  content: "\e87b";
}
.icon-face:before {
  content: "\e87c";
}
.icon-fast_forward:before {
  content: "\e01f";
}
.icon-fast_rewind:before {
  content: "\e020";
}
.icon-favorite:before {
  content: "\e87d";
}
.icon-favorite_border:before {
  content: "\e87e";
}
.icon-fiber_new:before {
  content: "\e05e";
}
.icon-get_app:before {
  content: "\e884";
}
.icon-file_upload:before {
  content: "\e2c6";
}
.icon-filter_frames:before {
  content: "\e3de";
}
.icon-find_replace:before {
  content: "\e881";
}
.icon-folder:before {
  content: "\e2c7";
}
.icon-font_download:before {
  content: "\e167";
}
.icon-format_quote:before {
  content: "\e244";
}
.icon-question_answer:before {
  content: "\e8af";
}
.icon-forward:before {
  content: "\e154";
}
.icon-fullscreen:before {
  content: "\e5d0";
}
.icon-gif:before {
  content: "\e908";
}
.icon-people:before {
  content: "\e7fb";
}
.icon-group_add:before {
  content: "\e7f0";
}
.icon-headset:before {
  content: "\e310";
}
.icon-help:before {
  content: "\e887";
}
.icon-help_outline:before {
  content: "\e8fd";
}
.icon-highlight_off:before {
  content: "\e888";
}
.icon-home:before {
  content: "\e88a";
}
.icon-hourglass_empty:before {
  content: "\e88b";
}
.icon-hourglass_full:before {
  content: "\e88c";
}
.icon-lock:before {
  content: "\e897";
}
.icon-photo:before {
  content: "\e410";
}
.icon-important_devices:before {
  content: "\e912";
}
.icon-inbox:before {
  content: "\e156";
}
.icon-indeterminate_check_box:before {
  content: "\e909";
}
.icon-info:before {
  content: "\e88e";
}
.icon-info_outline:before {
  content: "\e88f";
}
.icon-input:before {
  content: "\e890";
}
.icon-insert_comment:before {
  content: "\e24c";
}
.icon-tag_faces:before {
  content: "\e420";
}
.icon-link:before {
  content: "\e157";
}
.icon-keyboard_arrow_down:before {
  content: "\e313";
}
.icon-keyboard_arrow_left:before {
  content: "\e314";
}
.icon-keyboard_arrow_right:before {
  content: "\e315";
}
.icon-keyboard_arrow_up:before {
  content: "\e316";
}
.icon-keyboard_backspace:before {
  content: "\e317";
}
.icon-keyboard_return:before {
  content: "\e31b";
}
.icon-label:before {
  content: "\e892";
}
.icon-label_outline:before {
  content: "\e893";
}
.icon-open_in_new:before {
  content: "\e89e";
}
.icon-leak_add:before {
  content: "\e3f8";
}
.icon-local_offer:before {
  content: "\e54e";
}
.icon-menu:before {
  content: "\e5d2";
}
.icon-mode_comment:before {
  content: "\e253";
}
.icon-more:before {
  content: "\e619";
}
.icon-more_horiz:before {
  content: "\e5d3";
}
.icon-more_vert:before {
  content: "\e5d4";
}
.icon-movie_creation:before {
  content: "\e404";
}
.icon-music_note:before {
  content: "\e405";
}
.icon-network_cell:before {
  content: "\e1b9";
}
.icon-note:before {
  content: "\e06f";
}
.icon-note_add:before {
  content: "\e89c";
}
.icon-notifications:before {
  content: "\e7f4";
}
.icon-notifications_active:before {
  content: "\e7f7";
}
.icon-pageview:before {
  content: "\e8a0";
}
.icon-pan_tool:before {
  content: "\e925";
}
.icon-visibility:before {
  content: "\e8f4";
}
.icon-reorder:before {
  content: "\e8fe";
}
.icon-thumb_up:before {
  content: "\e8dc";
}
.icon-thumbs_up_down:before {
  content: "\e8dd";
}
.icon-verified_user:before {
  content: "\e8e8";
}
.icon-zoom_in:before {
  content: "\e8ff";
}
.icon-zoom_out:before {
  content: "\e900";
}
.icon-zoom_out_map:before {
  content: "\e56b";
}

