@charset "UTF-8";
/* ==========================================================================
   MASTER-CSS FILE
   ========================================================================== */
/* ==========================================================================
   ALL
   ========================================================================== */
/*
example:

(_fonts.scss)
@import 'import-once'
@if import-once( 'fonts' ) {
    %helvetica {
        font-family: 'Helvetica';
    }
}

(_buttons.scss) uses fonts
@import 'fonts';
button {
    @extend %helvetica;
}

(_cart.scss) also uses fonts
@import 'fonts';
.cart {
    @extend %helvetica;
}

(screen.scss) brings them all together
@import 'buttons';
@import 'cart';

***Output without @import-once:***
button, cart { font-family: 'Helvetica'; }
button, cart { font-family: 'Helvetica'; }

***Output WITH @import-once:***
button, cart { font-family: 'Helvetica'; }

------------------------------------------

CSS will be generated wherever they are @import'd, so if you import 'fonts' twice in a bundle, they would normally be generated n-times they are imported

*/
/**
 * Breakpoint
 */
/* ==========================================================================
   ALL
   ========================================================================== */
/*No classes should belong here.  Look in ../modules.*/
/* ==========================================================================
   CSS Reset
   ========================================================================== */
/**
 * Based on Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 */
/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 15, ../scss/base/_base.scss */
html, body, div, span, applet, object, iframe, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 24, ../scss/base/_base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../scss/base/_base.scss */
body {
  line-height: 1;
}

/* line 31, ../scss/base/_base.scss */
blockquote {
  border-left: 5px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’";
}

/* line 37, ../scss/base/_base.scss */
blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

/* line 44, ../scss/base/_base.scss */
blockquote p {
  display: inline;
}

/* ==========================================================================
   Base Styles
   ========================================================================== */
/* base files only alter actual HTML elements.  NO CLASSES HERE (See ../modules) */
/* ==========================================================================
   MASTER-VARIABLES FILE
   ========================================================================== */
/**
 * COLORS
 */
/**
 * Base
 */
/**
 * Sizes
 */
/**
 * Breakpoints
 */
/* line 58, ../scss/base/_base.scss */
html, body {
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
}

/* line 64, ../scss/base/_base.scss */
body {
  color: #000;
  background: #666;
  background-image: linear-gradient(to bottom, #ddd, #aaa 100%);
  background-attachment: fixed;
  font-size: 1.4em;
  font-family: sans-serif;
  font: arial;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
}

/* line 85, ../scss/base/_base.scss */
.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
}

/* line 93, ../scss/base/_base.scss */
a {
  text-decoration: none;
}

/* line 96, ../scss/base/_base.scss */
a:hover {
  text-decoration: underline;
}

/* line 100, ../scss/base/_base.scss */
p {
  margin: 0 0 1em;
}

/* line 104, ../scss/base/_base.scss */
img {
  max-width: 100%;
}

/* ==========================================================================
   ALL
   ========================================================================== */
/* line 1, ../scss/modules/_button.scss */
.btn {
  position: relative;
  padding: .5em 1em;
  width: 100px;
  background-color: #3498db;
  border-radius: 3px;
  color: #fff;
  border: none;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 2px 0 #2980b9;
  outline: none;
}
/* line 14, ../scss/modules/_button.scss */
.btn span {
  position: relative;
  z-index: 1;
}
/* line 18, ../scss/modules/_button.scss */
.btn .circle {
  position: absolute;
  z-index: 0;
  background-color: #2980b9;
  border-radius: 50%;
  transform: scale(0);
  opacity: 1;
  width: 100px;
  height: 100px;
}
/* line 27, ../scss/modules/_button.scss */
.btn .circle.animate {
  animation: grow .5s linear;
}

@keyframes grow {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
/* ==========================================================================
   Mother
   ========================================================================== */
/* line 5, ../scss/modules/_mother.scss */
#mother {
  height: 100%;
  min-height: 100%;
  margin: 0px auto;
  max-width: 920px;
  clear: both;
}

/* =language-menu
-----------------------------------------------------------------------------*/
/* line 15, ../scss/modules/_mother.scss */
.languages {
  line-height: 30px;
}

/* line 18, ../scss/modules/_mother.scss */
.lang-link {
  color: #ccc;
  text-decoration: none;
}

/* line 22, ../scss/modules/_mother.scss */
.lang-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* line 26, ../scss/modules/_mother.scss */
.lang-link.selected {
  font-weight: bold;
  color: #ddd;
}

/* ==========================================================================
   header
   ========================================================================== */
/* line 5, ../scss/modules/_header.scss */
header {
  background: #333;
  padding: 20px 15px 15px 15px;
  position: relative;
  margin-bottom: 0;
  color: #eee;
}
/* line 12, ../scss/modules/_header.scss */
header h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
/* line 20, ../scss/modules/_header.scss */
header .hide-unimportant {
  float: right;
}
/* line 24, ../scss/modules/_header.scss */
header #login-buttons {
  display: block;
}
/* line 28, ../scss/modules/_header.scss */
header .newEntry {
  position: relative;
}
/* line 31, ../scss/modules/_header.scss */
header .newEntry .newEntryForm {
  margin: 0;
  position: relative;
  width: 80%;
  display: inline-block;
}
/* line 37, ../scss/modules/_header.scss */
header .newEntry .newEntryForm textarea {
  font-family: sans-serif;
  box-sizing: border-box;
  background: transparent;
  border: none;
  width: 100% !important;
  padding: 10px 80px 10px 0px;
  font-size: 1em;
  resize: none;
  color: #ff0;
}
/* line 48, ../scss/modules/_header.scss */
header .newEntry .newEntryForm textarea:focus {
  outline: 0;
}
/* line 53, ../scss/modules/_header.scss */
header .newEntry .newEntryForm .submitBtn {
  margin: 2px 0 0;
  width: 100px;
  height: 20px;
  border: none;
  background: #dd0;
  color: #222;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 0px 1px #222, 0px 0px 0px 2px #dd0;
  border-radius: 2px;
  display: none;
}
/* line 66, ../scss/modules/_header.scss */
header .newEntry .newEntryForm .submitBtn:after {
  content: 'Submit Post';
}
/* line 69, ../scss/modules/_header.scss */
header .newEntry .newEntryForm .submitBtn:hover:after {
  content: 'Alt + Enter';
}
/* line 74, ../scss/modules/_header.scss */
header .newEntry .newEntryForm.edited .submitBtn {
  display: inline;
}
/* line 80, ../scss/modules/_header.scss */
header .imageUploadForm {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  width: 20%;
}
/* line 86, ../scss/modules/_header.scss */
header .imageUploadForm .drop-zone {
  color: green;
  padding: 10px 5px;
  margin: 0;
  border: 2px dashed #ccc;
  border-radius: 2px;
  text-align: center;
}
/* line 94, ../scss/modules/_header.scss */
header .imageUploadForm .drop-zone .drop-zone-accept {
  color: white;
  background-color: green;
}
/* line 98, ../scss/modules/_header.scss */
header .imageUploadForm .drop-zone .drop-zone-reject {
  color: white;
  background-color: red;
}
/* line 104, ../scss/modules/_header.scss */
header .imageUploadForm .preview {
  position: absolute;
  top: 0;
}
/* line 108, ../scss/modules/_header.scss */
header .imageUploadForm .preview img {
  width: 115px;
  height: 100px;
}

/* ==========================================================================
   menu
   ========================================================================== */
/* line 5, ../scss/modules/_menu.scss */
#menu {
  width: 30%;
  display: inline-block;
  float: left;
  padding: 20px;
  background: #ddd;
  box-sizing: border-box;
}

/* line 14, ../scss/modules/_menu.scss */
ul#menu_list li {
  list-style-type: none;
  list-style-image: none;
  margin-bottom: 5px;
}

/* ==========================================================================
   Main
   ========================================================================== */
/* =Content
-----------------------------------------------------------------------------*/
/* line 8, ../scss/modules/_main.scss */
.mainContent {
  margin: 0;
  padding: 0;
}
/* line 12, ../scss/modules/_main.scss */
.mainContent li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
  margin-bottom: 0;
  background: #fff;
}
/* line 19, ../scss/modules/_main.scss */
.mainContent li:first-child:before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -5px;
  height: 1px;
  width: 100%;
  box-shadow: 0 5px 5px 0 #000;
}
/* line 31, ../scss/modules/_main.scss */
.mainContent li.checked, .mainContent li.checked * {
  color: red;
}
/* line 36, ../scss/modules/_main.scss */
.mainContent li.private {
  margin-top: -1px;
  background: #eee;
  border-color: #ddd;
  box-shadow: inset 0 1px 0 0 #ddd;
}
/* line 43, ../scss/modules/_main.scss */
.mainContent li img {
  max-width: 100%;
  max-height: 300px;
}
/* line 55, ../scss/modules/_main.scss */
.mainContent li .editEntry .editEntryForm textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 3px;
  -moz-transition-property: border-color, background, box-shadow;
  -o-transition-property: border-color, background, box-shadow;
  -webkit-transition-property: border-color, background, box-shadow;
  transition-property: border-color, background, box-shadow;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background: transparent;
  width: 80% !important;
  padding: 10px;
  font-size: 1.4rem;
  resize: none;
}
/* line 68, ../scss/modules/_main.scss */
.mainContent li .editEntry .editEntryForm textarea:hover {
  border: none;
  border: 1px solid #f3f3f3;
  background: #f3f3f3;
}
/* line 73, ../scss/modules/_main.scss */
.mainContent li .editEntry .editEntryForm textarea:focus {
  border: none;
  border: 1px solid #ccc;
  background: #f3f3f3;
  box-shadow: inset 1px 1px 2px rgba(204, 204, 204, 0.5);
}
/* line 79, ../scss/modules/_main.scss */
.mainContent li .editEntry .editEntryForm textarea:focus, .mainContent li .editEntry .editEntryForm textarea:valid {
  outline: none;
}
/* line 85, ../scss/modules/_main.scss */
.mainContent li .editEntry .editEntryForm .editBtn {
  display: inline;
  width: 100px;
  vertical-align: bottom;
  margin: 0 0 4px 10px;
}
/* line 90, ../scss/modules/_main.scss */
.mainContent li .editEntry .editEntryForm .editBtn:after {
  content: 'Update Post';
}
/* line 93, ../scss/modules/_main.scss */
.mainContent li .editEntry .editEntryForm .editBtn:hover:after {
  content: 'Alt + Enter';
}
/* line 96, ../scss/modules/_main.scss */
.mainContent li .editEntry .editEntryForm .editBtn.none {
  visibility: hidden;
  margin-bottom: 20px;
  opacity: 0;
  height: 0;
  -moz-transition: visibility 0s 0.1s, height 0.1s linear, margin-bottom 0.1s linear, opacity 0.1s linear;
  -o-transition: visibility 0s 0.1s, height 0.1s linear, margin-bottom 0.1s linear, opacity 0.1s linear;
  -webkit-transition: visibility 0s, height 0.1s linear, margin-bottom 0.1s linear, opacity 0.1s linear;
  -webkit-transition-delay: 0.1s, 0s, 0s, 0s;
  transition: visibility 0s 0.1s, height 0.1s linear, margin-bottom 0.1s linear, opacity 0.1s linear;
}
/* line 103, ../scss/modules/_main.scss */
.mainContent li .editEntry .editEntryForm .editBtn.edited {
  visibility: visible;
  margin-bottom: 4px;
  opacity: 1;
  height: 37px;
  -moz-transition: opacity 0.1s linear;
  -o-transition: opacity 0.1s linear;
  -webkit-transition: opacity 0.1s linear;
  transition: opacity 0.1s linear;
}
/* line 115, ../scss/modules/_main.scss */
.mainContent li .entryOptions .toggle-private {
  margin-left: 5px;
}
/* line 119, ../scss/modules/_main.scss */
.mainContent li .entryOptions .deleteBtn {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

@media (max-width: 600px) {
  /* line 132, ../scss/modules/_main.scss */
  li {
    padding: 12px 15px;
  }

  /* line 136, ../scss/modules/_main.scss */
  .search {
    width: 150px;
    clear: both;
  }

  /* line 141, ../scss/modules/_main.scss */
  .new-entry input {
    padding-bottom: 5px;
  }
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
/* line 5, ../scss/modules/_footer.scss */
#footer {
  clear: both;
  text-align: center;
  padding: 10px;
}

/* ==========================================================================
   NOTICE
   ========================================================================== */
/* line 5, ../scss/modules/_notice.scss */
.notice, .warning, .success {
  border: 1px solid;
  margin: 5px;
  padding: 5px;
}

/**
 * WARNING 
 */
/* line 15, ../scss/modules/_notice.scss */
.warning {
  border-color: red;
}

/* line 20, ../scss/modules/_notice.scss */
.success {
  border-color: green;
}

/* ==========================================================================
   ALL
   ========================================================================== */
