// This folder contains SCSS files for styling the base elements on the site (e.g. p, ul, li, blockquote, etc.)

/*No classes should belong here.  Look in ../modules.*/

/* ==========================================================================
   CSS Reset
   ========================================================================== */

/**
 * Based on Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 */
 @import "compass/reset";

// some additions to maintain SOME of the browsers default stylings
html, body, div, span, applet, object, iframe, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
blockquote {
  border-left: 5px solid #ccc;
  margin: 1.5em 0;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400,700');

/* ==========================================================================
   Base Styles
   ========================================================================== */

/* base files only alter actual HTML elements.  NO CLASSES HERE (See ../modules) */

@import "../variables";

html, body {
  font-size: 62.5%;
  height: 100%;
  min-height: 100%;
}

body {
  color: $black;
  background: $almostwhite;
  
  font-size: 1.4em;
  font-family: 'Titillium Web', sans-serif;
  font: arial;
  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: '';
    -webkit-animation: fadeBgDay 60s infinite;
    -moz-animation: fadeBgDay 60s infinite;
    animation: fadeBgDay 60s infinite;
  }
  @-webkit-keyframes fadeBgDay {
    0%, 100% {background-color: rgba($blue, .05);}
    33%  {background-color: rgba($yellow, .05);}
    66%  {background-color: rgba($green, .05);}
  }
  @-moz-keyframes fadeBgDay {
    0%, 100% {background-color: rgba($blue, .05);}
    33%  {background-color: rgba($yellow, .05);}
    66%  {background-color: rgba($green, .05);}
  }
  @keyframes fadeBgDay {
    0%, 100% {background-color: rgba($blue, .05);}
    33%  {background-color: rgba($yellow, .05);}
    66%  {background-color: rgba($green, .05);}
  }
  @include breakpoint(baby) {
    background: $lightgrey;
    &:before {
      display: none;
    }
  }
}

* { cursor: default; }

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
  min-height: 100%;
  @include breakpoint(baby) {
    max-width: 100%;
  }
}

textarea { 
  font-family: 'Titillium Web', sans-serif;
  cursor: text;
}

a { 
	text-decoration: none;
  cursor: pointer;
}
a:hover { 
	text-decoration: underline;
}

[class^="icon-"], [class*=" icon-"], label {
  cursor: pointer;
}

strong {
  font-weight: bold !important;
}

p {
    margin: 0;
}

img { max-width: 100%; }

