@mixin button($color) {
  position: relative;
  background-color: $blue;
  border-radius: 3px;
  color: $white;
  font-size: 1.4rem;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-family: 'Titillium Web', sans-serif;
  span {
    position: relative;
    z-index: 1;
  }
  .circle {
    position: absolute;
    z-index: 0;
    background-color: $color;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    width: 100px;
    height: 100px;
    &.animate {
      animation: grow .5s linear;
    }
  }

  @keyframes grow {
    to {
      transform: scale(2.5);
      opacity: 0;
    }
  }
}