.btn {
  position: relative;
  // transform: translate3d(0, -50%, 0);
  padding: .5em 1em;
  width: 100px;
  background-color: #3498db;
  border-radius: 3px;
  color: #fff;
  border: none;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 2px 0 #2980b9;
  outline: none;
  span {
    position: relative;
    z-index: 1;
  }
  .circle {
    position: absolute;
    z-index: 0;
    background-color: #2980b9;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    width: 100px;
    height: 100px;
    &.animate {
      animation: grow .5s linear;
    }
  }
}

@keyframes grow {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}