@mixin checkbox() {
	.checkbox {
		display: inline-block;
		
		input.slider-checkbox {
		  position: absolute;
		  left: -9999px;
		}

		.slider-v2 {
		  position: relative;
		  display: block;
		  width: 40px;
		  height: 20px;
		  cursor: pointer;
		  border-radius: 13px;
		  transition: 350ms;
		  background: $darkmediumgrey;
		}

		.slider-v2::after {
		  position: absolute;
		  content: '';
		  width: 16px;
		  height: 16px;
		  top: 2px;
		  left: 2px;
		  border-radius: 50%;
		  transition: 250ms ease-in-out;
		  background: $darkmediumgrey;
		}

		.slider-v2::before {
		  position: absolute;
		  content: '';
		  width: 40px;
		  height: 20px;
		  top: 0;
		  left: 0;
		  border-radius: 13px;
		  transition: 250ms ease-in-out;
		  background: $lightmediumgrey;
		}

		input:checked + .slider-v2::before {
		  background: $lightmediumgrey;
		}

		input:checked + .slider-v2::after {
		  left: 22px;
	    }
		&.green input:checked + .slider-v2::after { background: $green; }
		&.red input:checked + .slider-v2::after { background: $red; } 

		.value {
			color: $darkgrey;
			margin: -17px 10px 0 45px;
		}
	}
}