@mixin dropzone() {
  .imageUploadForm {
    display: none;
    vertical-align: top;
    margin: 0;

    &.edited {
      display: inline-block;
    }

    .clearImgBtn {
      @include box-sizing(border-box);
      width: 40px;
      height: 40px;
      @include button(red);
    }

    .dropzone {
      @include button($green);      
      color: white;
      margin: 0;
      text-align: center;
      font-size: 1.1rem;
      padding: 0 .5em;
      height: 25px;
      line-height: 25px;

      &.accept {
        background-color: $green !important;
      }
      &.reject {
        background-color: $red !important;
      }
    }
  }
}