/* ==========================================================================
   header
   ========================================================================== */

@include checkbox();

header {
  @include box-sizing(border-box);
  background: #333;
  padding: 20px 15px 5px 15px;
  position: relative;
  top: 10px;
  color: #eee;
  position: fixed;
  z-index: 10000;
  width: 610px;
  margin-left: -5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  
  h1 {
    font-size: 1.5em;
    margin: 0;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 1em;
  }


  .hide-unimportant {
    float: right;
  }

  #login-buttons {
    display: block;
  }

  .checkbox .value {
    color: $mediumgrey;
  }

  .newEntry {
    position: relative;
    
    .newEntryForm {
      margin: 5px 0 0 0;
      position: relative;
      width: 100%;
      display: inline-block;

      textarea {
        box-sizing: border-box;
        background: transparent;
        border: none;
        width: 100% !important;
        padding: 10px 20% 10px 0px;
        font-size: 1em;
        resize: none;
        color: #ff0;
        
        &:focus {
          outline: 0;
        }
      }
      
      .newEntryOptions {
        display: none;
        width: 80%;
        height: 28px;
        line-height: 28px;

        .checkbox {
          label {
            margin-top: 6px;
          }
          .value {
            margin-top: -24px;
          }
        }
        
        @include dropzone();
        .imageUploadForm {
          display: inline-block;


          .dropzone{
            margin-top: 3px;
            display: inline-block;
            background: $lightgrey;
            color: #222;
            font-weight: bold;
            height: 25px;
            div {
              line-height: 25px;
              font-size: 1.8rem;
              color: #222;
              &:hover {
                color: blue;
              }
            }
          }
          .preview {
            display: inline-block;
            position: relative;
            margin-left: 0px;
            border-radius: 4px 0 0 4px;
            height: 25px;
            padding: 0;
            top: 1px;
            background: $lightgrey;
            &+.dropzone {
              margin-bottom: -1px;
              border-radius: 0 3px 3px 0;
              border-left: 1px solid $mediumgrey;
            }
            span {
              position: relative;
              .smallPreview {
                display: inline-block;
                position: relative;
                height: 100%;
                border-radius: 3px 0 0 3px;
                border-right: 1px solid $mediumgrey;
                &:hover + .previewDetail {
                  display: block;
                  position: absolute;
                  right: -86px;
                  border-radius: 3px;
                  width: 150px;
                  padding: 2px;
                  background: $lightgrey;
                  box-shadow: 0 2px 2px $darkgrey;
                  &:before {
                    position: absolute;
                    content: '';
                    top: -5px;
                    left: 80px;
                    margin-left: -5px;
                    height: 0;
                    width: 0;
                    border-style: solid;
                    border-width: 0 5px 5px 5px;
                    border-color: transparent transparent $lightgrey transparent;
                  }
                  img {
                    position: relative;
                    width: 100%;
                    border-radius: 3px;
                    height: auto;
                    margin: 0 auto -9px auto;
                  }
                }
              }
              .previewDetail {
                display: none;
              }
            }
            button {
              display: inline-block;
              position: relative;
              background: transparent;
              border: none;
              height: 25px;
              top: -6px;
              cursor: pointer;
              line-height: 25px;
              color: $darkgrey;
              font-weight: bold;
              font-size: 2rem;
              &:hover {
                color: red;
              }
            }
          }
        }
      }

      .submitBtn {
        @include button(#ee3);
        padding: 0;
        margin: 2px 0 7px 10px;
        float: right;
        width: 100px;
        background: #dd0;
        color: #222;
        font-weight: bold;
        box-shadow: 0px 0px 0px 1px #222, 0px 0px 0px 2px #dd0;
        display: none;
        height: 25px;
        line-height: 24px;
      
        &:after {
          content: 'Submit Post';
        }
        &:hover:after {
          content: 'Alt + Enter';
        }
      }

      &.edited {
        .submitBtn, .newEntryOptions {
          @include box-sizing(border-box);
          display: inline-block;
        }
      }

    }
  }
}
 