/* ==========================================================================
   header
   ========================================================================== */

@include checkbox();
@include search();

header {
  @include box-sizing(border-box);
  background: $white;
  padding: 15px 15px 10px 15px;
  top: 10px;
  color: $darkgrey;
  position: fixed;
  z-index: 99;
  width: 610px;
  margin-left: -5px;
  box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);
  @include transition(filter .2s ease-in-out);
  filter: blur(0);
  &.searchActive {
    @include transition(filter .2s ease-in-out);
    filter: blur(10px);
    overflow: hidden;
  }
  @include breakpoint(baby) {
    width: 100% !important;
    top: 0px;
    position: relative;
    margin: 0;
    padding: 10px;
    border-radius: 0 !important;
  }

  h1 {
    font-size: 2.5em;
    margin: -3px 10px 10px 0;
    display: inline-block;
    font-weight: normal;
    color: $almostblack;
    font-family: 'head', 'Titillium Web', sans-serif;
    text-shadow: 0 0 5px $white;
  }

  .countdown {
    position: relative;
    top: -1px;
    float: right;
    padding: 0;
    height: 25px;
    line-height: 25px;
    margin-right: 3px;
    @include breakpoint(baby) {
      display: none;
    }
    #tent {
      vertical-align: text-top;
      height: 20px;
      width: 20px;
      fill: $darkgrey;
      margin-right: 2px;
    }
  }

  .register-secret {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: $almostwhite url('/start-bg1.gif') center no-repeat;
    background-size: cover;
    z-index: 9999;
    overflow-x: hidden; 
    overflow-y: hidden; 
    @include breakpoint(baby) {
      background: $almostwhite url('/start-bg2.gif') center no-repeat;
    }
    >span {
      text-align: center;
      margin: 0;
      width: 280px;
      display: block;
      color: $almostblack;
      position: absolute;
      font-family: 'head', 'Titillium Web', sans-serif;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include breakpoint(baby) {
        width: 200px;
      }
      span {
        font-family: 'Titillium Web', sans-serif;
        text-align: left;
        display: block;
      }
      input {
        height: 80px;
        width: 100%;
        margin-top: 10px;
        padding: 0 20px;
        border-radius: 3px;
        text-align: center;
        cursor: text;
        @include box-sizing(border-box);
        background: rgba($lightgrey, .9);
        border: none;
        font-size: 3em;
        resize: none;
        color: $almostblack;
        box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);
        &:focus { outline: none; }
        @include breakpoint(baby) {
          font-size: 1.5em;   
          height: 50px;
        }
      }
      button {
        @include button($darkblue);
        width: 100%;
        display: block;
        margin-top: 10px;
        height: 30px;
        box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);
      }
    }
  }

  #login-buttons {
    float: right;
    margin-left: 10px;
    @include button($darkblue);
    padding: 0 10px;
    line-height: 25px;
    position: static;
    .login-link-and-dropdown-list {
      position: static;
      #login-dropdown-list {
        position: absolute;
        top: 20px;
        right: 25px;
        left: auto;
        padding: 3px 8px;
        width: 200px;
        border-radius: 1px;
        box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);
        @include breakpoint(baby) {
          top: 15px;
          right: 20px;
        }
        .login-button {
          border: none;
        }

        &:before {
          content: 'Konto'
        }
        .login-close-text {
          float: right;
          color: $transparent;
          padding-bottom: 0;
          margin-top: -3px;
          &:before {
            color: $almostblack;
            content: '+';
            position: absolute;
            font-size: 2rem;
            right: 0;
            font-weight: bold;
            transform: rotate(45deg);
          }
        }
      }
    }
    a {
      text-decoration: none;
    }
  }

  .hide-unimportant {
    float: right;
    position: relative;
    background: $transparent;
    color: $darkgrey;
    font-size: 3rem;
    display: inline-block;
    padding: 0 10px 0 0;
    line-height: 25px;
    &:hover {
      color: $darkred;
    }
    span {
      position: absolute;
      right: 2px;
      color: $white;
      background: $red;
      font-size: 1rem;
      border-radius: 50%;
      width: 16px;
      height: 15px;
      text-align: center;
      line-height: 15px;
      font-family: 'Titillium Web', sans-serif;
      border: 1px solid $white;
      font-weight: bold;
    }
  }
  .hide-unimportant-checkbox { 
    position: absolute;
    left: -9999px; 
    &:checked + .hide-unimportant {
      color: $darkred;
    }
  }

  .openSearchBtn {
    float: right;
    background: $transparent;
    color: $darkgrey;
    border: none;
    font-size: 2.6rem;
    @include box-sizing(border-box);
    line-height: 25px;
    margin: 0;
    @include breakpoint(baby) {
      padding-right: 0;
    }
    &:focus {
      outline: none;
    }
    &:hover {
      color: $almostblack;
    }
  }

  /* ==========================================================================
   Entry-Form
   ========================================================================== */

  .newEntry {
    position: relative;
    
    .newEntryForm {
      margin: 0;
      position: relative;
      width: 100%;
      display: inline-block;

      textarea {
        box-sizing: border-box;
        background: $transparent;
        border: none;
        width: 100% !important;
        padding: 10px 20% 10px 0px;
        font-size: 1.2em;
        resize: none;
        color: $almostblack;

        @include breakpoint(baby) {
          padding: 10px 25px 10px 0px;
          font-size: 16px;
          z-index: 0;
        }
        
        &:focus {
          outline: 0;
        }
      }

      .closeNewEntry {
        position: absolute;
        right: 0;
        top: 10px;
        color: $blue;
        cursor: pointer;
        font-size: 2rem;
        z-index: 1;
        @include breakpoint(baby) {
          top: 12px;
        }
      }
      
      .newEntryOptions {
        display: none;
        width: 80%;
        height: 28px;
        line-height: 28px;
        @include breakpoint(baby) {
          width: 100%;
        }

        .checkbox {
          @include breakpoint(baby) {
            // margin: 0 -3px;
          }
          label {
            margin-top: 6px;
          }
          .value {
            margin-top: -24px;
          }
        }

        .newImportantDateContainer {
          display: inline;
          color: $darkgrey;
          margin-left: -5px;
          @include breakpoint(baby) {
            margin: 0 -10px 0 -5px;
          }
          .newImportantDate {
            border: none;
            vertical-align: top;
            margin: 4px 10px 0 3px;
            padding: 0 3px;
            max-width: 80px;
            height: 25px;
            line-height: 25px;
            background: $lightgrey;
            font-size: 1.4rem;
            border-radius: 3px;
            color: $darkgrey;
            font-family: 'Titillium Web', sans-serif;
            @include breakpoint(baby) {
              margin: 0 0 5px 5px;
              // max-width: 100px;
              font-size: 16px;
            }
            &:focus {
              outline: none;
            }
          }
        }
        
        @include dropzone();
        .imageUploadForm {
          display: inline-block;
          height: 25px;
          line-height: 25px;
          vertical-align: top;
          margin-top: 3px;
          @include breakpoint(baby) {
            display: block;
            margin-top: 0px;
          }

          .dropzone{
            margin-top: 1px;
            display: inline-block;
            background: $blue;
            color: $almostblack;
            font-weight: bold;
            height: 25px;
            &:hover {
              background: $darkblue;
            }
            div {
              line-height: 25px;
              font-size: 1.8rem;
              color: $almostwhite;
            }
          }
          .preview {
            display: inline-block;
            position: relative;
            margin-left: 0px;
            border-radius: 4px 0 0 4px;
            height: 25px;
            line-height: 25px;
            padding: 0;
            vertical-align: inherit;
            background: $lightgrey;
            &+.dropzone {
              height: 25px;
              top: -1px;
              line-height: 25px;
              vertical-align: inherit;
              border-radius: 0 3px 3px 0;
              border-left: 1px solid $mediumgrey;
            }
            span {
              position: relative;
              .smallPreview {
                display: inline-block;
                position: relative;
                height: 100%;
                border-radius: 3px 0 0 3px;
                border-right: 1px solid $mediumgrey;
                &:hover + .previewDetail {
                  display: block;
                  position: absolute;
                  right: -86px;
                  border-radius: 3px;
                  width: 150px;
                  padding: 2px;
                  background: $lightgrey;
                  box-shadow: 0 2px 2px $darkgrey;
                  &:before {
                    position: absolute;
                    content: '';
                    top: -5px;
                    left: 80px;
                    margin-left: -5px;
                    height: 0;
                    width: 0;
                    border-style: solid;
                    border-width: 0 5px 5px 5px;
                    border-color: $transparent $transparent $lightgrey $transparent;
                  }
                  img {
                    position: relative;
                    width: 100%;
                    border-radius: 3px;
                    height: auto;
                    margin: 0 auto -7px auto;
                  }
                }
              }
              .previewDetail {
                display: none;
              }
            }
            button {
              display: inline-block;
              position: relative;
              background: $transparent;
              border: none;
              height: 25px;
              @include box-sizing(border-box);
              vertical-align: top;
              cursor: pointer;
              line-height: 25px;
              color: $darkgrey;
              font-weight: bold;
              padding: 0px 4px;
              font-size: 2rem;
              &:hover {
                color: $red;
              }
            }
          }
        }
      }

      .submitBtn {
        @include button($darkblue);
        padding: 0;
        margin: 2px 0 5px 10px;
        float: right;
        width: 100px;
        background: $blue;
        color: $white;
        box-shadow: 0px 0px 0px 1px $white, 0px 0px 0px 2px $blue;
        display: none;
        height: 25px;
        line-height: 24px;

        @include breakpoint(baby) {
          margin: -23px 0 0 0 !important;
        }
      
        &:after {
          content: 'Eintragen';
          font-family: 'Titillium Web', sans-serif;
          font-size: 1.4rem;
          font-weight: normal;
        }
        &:hover:after {
          content: 'Alt + Enter';
        }
      }

      &.edited {
        .submitBtn, .newEntryOptions {
          @include box-sizing(border-box);
          display: inline-block !important;
        }
      }

    }
  }
}

/* ==========================================================================
   wrongModal
   ========================================================================== */

  #wrongModal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $almostblack;
    color: $red;
    font-size: 20vw;
    font-weight: bold;
    z-index: 99999999999;
    padding: 0;
    &:before {
      display: block;
      width: 70%;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      text-align: center;
      margin: 0;
      content: "D'oh!";
    }
    &:after {
      display: block;
      width: 70%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      
      font-size: 5vw;
      color: $darkgrey;
      text-align: center;
      content: 'Nochmal: Ausbau Numero ...?';
    }
  }
 