/* ==========================================================================
   Main
   ========================================================================== */

/* =Content
-----------------------------------------------------------------------------*/
 
.mainContent {
  margin: 0;
  padding: 0;
  margin-top: 124px;
  @include breakpoint(baby) {
    width: 100%;
    margin-top: 0;
    @include box-sizing(border-box);
  }

  .birthdays {
    display: block;
    position: relative;
    padding: 10px 15px;
    background: $white;
    border-bottom: $almostwhite solid 1px;
    text-align: center;
    margin-bottom: -1px;
    z-index: 10;
    font-size: 1.4rem;
    color: $almostblack;
    cursor: default;
    &:before { 
      cursor: default;
      color: #ff1493;
      margin-right: 10px;
      font-size: 2rem;
    }
    * {
      font-family: 'Titillium Web', sans-serif;
      position: relative;
      top: -3px;
    }
    .birthday {
      &:before { content: ', '; }
      &:nth-last-child(2):before { content: ' und '; }
      &:first-child:before { content: ''; }
    }
  }
  
  li {
    position: relative;
    list-style: none;
    padding: 20px 15px;
    border-top: $almostwhite solid 1px;
    margin-bottom: 0;
    background: $white;
    z-index: 2;
    @include transition(all .5s linear);

    @include breakpoint(baby) {
      padding: 10px 5px;
      width: 100%;
      @include box-sizing(border-box);
    }

    &:first-child {
      border-top: 1px solid $transparent;
      @include breakpoint(baby) {
       margin-top: -130px;
      }
    }

    &.private, &.important {
      z-index: 1;
      border-color: $lightmediumgrey;
      @include transition(background .25s linear);
      .entryTitle {
        @include transition(color .25s linear);
      }
    }
    &.private {
      background: rgba($lightgreen, 1);
      @include neon(green);
      .entryTitle {
        color: $darkgreen !important;
      }
    }
    &.important {
      background: rgba($lightred, 1);
      @include neon(red);
      
      .entryTitle {
        color: $darkred !important;
      }
    }

    .entryTitle {
      font-size: 1.8rem;
      font-weight: bold;
      display: inline-block;
      height: 20px;
      top: -2px;
      position: relative;
      margin-left: 5px;
      color: $almostblack;
      @include box-sizing(border-box);
      @include breakpoint(baby) {
        font-size: 1.6rem;
      }
    }

    .importantDateContainer {
      display: inline;
      color: $darkgrey;
      margin-left: 10px;
      top: -2px;
      position: relative;

      i {
        font-size: 1.8rem;
        position: relative;
        top: 2px;
      }
      .importantDate {
        @include transition(background .1s linear);
        border: 1px solid $transparent;
        position: relative;
        margin: -4px 3px 0 3px;
        padding: 0 3px;
        max-width: 90px;
        font-size: 1.4rem;
        color: $darkgrey;
        font-family: 'Titillium Web', sans-serif;
        height: 25px;
        line-height: 25px;
        background: $transparent;
        border-radius: 3px;
        @include breakpoint(baby) {
          font-size: 16px;
        }
        &:focus {
          outline: none;
        }
      }
      button {
        @include button($darkblue);
        border-radius: 3px;
        opacity: 0;
        @include transition(opacity .1s linear);
        &.edited {
          opacity: 1;
          @include transition(opacity .1s linear);
        }
      }
    }
    
    .timestamps {
      float: right;
      color: $mediumgrey;
      opacity: 0;
      font-size: 1rem;
      margin-top: 3px;
      @include transition(opacity .1s linear);
      @include breakpoint(baby) {
        display: none;
      }
    }
    &:hover .timestamps {
      opacity: 1;
      @include transition(opacity .1s linear);
    }

    img {
      max-width: 100%;
      max-height: 300px;
    }

    .imgbg-container {
      margin: 10px -2.6% 15px -2.6%;
      width: 105.4% !important;
      min-width: 105.4% !important;
      overflow: hidden;
      position: relative;
      display: none;
      &.yes {
        display: block;
      }
      @include breakpoint(baby) {
        width: 104% !important;
        min-width: 104% !important;
        margin: 10px 0 15px -2%;
      }

      .imgbg {
        margin: 0 -5%;
        height: 300px;
        width: 110% !important;
        min-width: 110% !important;
        background-size: cover;
        background-position: center;
        color: white;
        text-align: center;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
      }
      .img {
        margin: -300px 0 0 0;
        position: relative;
        display: block !important;
        z-index: 6;
        width: 100%;
        max-width: 100%;
        background: rgba($white, 0.5);
        img {
          margin: auto;
          width: auto !important;
          position: relative;
          display: block !important;
          max-height: 300px !important;
          height: auto !important;
        }
      }
    }
    
    @include dropzone();
    .imageUploadForm {
      display: block;
      @include transition(opacity .1s linear);
      opacity: 0;
      position: absolute;
      margin: 0;
      z-index: 20;
      right: 10px;
      top: 60px;
      width: 130px;
      text-align: right;
      @include transition(opacity .1s linear);

      .dropzone, .clearImgBtn {
        display: inline-block;
        @include box-sizing(border-box);
        vertical-align: top;
        padding: 0;
        line-height: 27px;
        height: 27px;
        font-size: 1.8rem;
        text-align: center;

      }
      .dropzone {
        width: 40px;
        line-height: 27px;
        height: 27px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        div {
          line-height: 25px;
          height: 25px;
        }
      }
      .clearImgBtn {
        width: 30px;
        background: $red;
        font-weight: bold;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 1.5rem;
      }

      &.no {
        opacity: .3;
        bottom: 13px;
        top: auto;
        right: 17px;
        @include breakpoint(baby) {
          bottom: 5px;
        }
        .dropzone {
          border-radius: 3px;
        }
      }
    }

    .entry {
      display: block;
      padding: 5px;
      margin: 10px 0 0 0;
      font-size: 1.6rem;
      line-height: 2rem;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-word;
      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      color: $almostblack;
      @include transition(color .25s linear);
      @include breakpoint(baby) {
        font-size: 1.4rem;
      }

      a {
        color: $darkblue;
      }
      img {
        max-height: 300px;
        width: auto;
        display: block;
      }
      iframe[src*="bandcamp"] {
        width: 100% !important;
      }
    }

    & > .entry {
      margin: 5px 20% 15px 0;
      @include breakpoint(baby) {
        margin: 5px 0 15px 0;
      }
    }

    .editEntry {
      position: relative;
      &.edited {
        .editEntryForm {
          .textarea {
            display: inline;
          }
          .entry {
            display: none;
          }
          .editLastBtn {
            display: none;
          }
        }
      }

      .editEntryForm {
        margin: 5px 0 15px 0;
        .textarea {
          @include box-sizing(border-box);
          border: 1px solid $transparent;
          border-radius: 3px;
          @include transition-property(border-color, background, box-shadow);
          @include transition-duration(0.2s);
          @include transition-timing-function(linear);
          background: $lightgrey;
          width: 80% !important;
          padding: 5px;
          font-size: 1.4rem;
          resize: none;
          cursor: text;
          line-height: normal;
          display: none;
          color: $almostblack;

          @include breakpoint(baby) {
            width: 100% !important;
            font-size: 16px;
          }

          &:focus {
            border: 1px solid $mediumgrey;
            background: $lightgrey;
            box-shadow: inset 1px 1px 2px rgba($mediumgrey, .5);
            @include transition-property(border-color, background, box-shadow);
            @include transition-duration(0.1s);
            @include transition-timing-function(linear);
          }
          &:focus,
          &:valid {
            outline: none;
          }
        }

        .entry {
          top: -5px;
          left: 0;
          width: 100%;
          padding-right: 20%;
          border: 1px solid $transparent;
          position: relative;
          line-height: normal;
          @include box-sizing(border-box);
          border-radius: 3px;
          display: block;
          cursor: default;
          background: $transparent;
          @include transition(background .1s linear);
          color: $almostblack;
          @include breakpoint(baby) {
            padding-right: 5px;
          }
        }

        .editLastBtn {
          @include button($darkblue);
          position: absolute;
          top: -2px;
          right: 3px;
          padding: 5px 10px;
          font-size: 1.8rem;
          @include breakpoint(baby) {
            top: -37px;
            right: -1px;
          }
        }
        
        .editBtn {
          @include button($darkblue);
          display: inline;
          width: 100px;
          vertical-align: bottom;
          margin: 0 0 2px 10px;
          @include breakpoint(baby) {
            margin: 5px 0 0 0;
          }
          &:after {
            content: 'Speichern';
          }
          &:hover:after {
            content: 'Alt + Enter';
          }
          &.none {
            display: none;
          }
          &.edited {
            height: 33px;
            display: inline;
          } 
        }
      }
    }

    &:hover .editEntry .entry,
    &:hover .importantDate {
      border: 1px solid $transparent;
      background: $almostwhite;
      @include transition(background .1s linear);
    }

    &:hover .entryOptions,
    &:hover .editLastBtn,
    &:hover .imageUploadForm {
      opacity: 1;
      @include transition(opacity .1s linear);
    }
    .entryOptions,
    .editLastBtn {
      opacity: .3;
      @include transition(opacity .1s linear);
          
      .deleteBtn {
        float: right;
        font-weight: bold;
        background: none;
        cursor: pointer;
        font-size: 1em;
        border: none;
        position: relative;
        margin-right: 50px;
        z-index: 100;
      }
    }
  }
}

.loadMoreBtn {
  @include button($darkblue);
  margin: 20px 0 0 0;
  width: 100%;
  height: 30px;
  @include breakpoint(baby) {
    width: 90%;
    left: 50%;
    margin: 20px 10px 10px -45%;
  }
}
