/* ==========================================================================
   Main
   ========================================================================== */

/* =Content
-----------------------------------------------------------------------------*/
 
.mainContent {
  margin: 0;
  padding: 0;
  
  li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
    margin-bottom: 0;
    background: #fff;
    &:first-child:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -5px;
      height: 1px;
      width: 100%;
      box-shadow: 0 5px 5px 0 #000;
    }

    &.checked, 
    &.checked * {
      color: red;
    }
 
    &.private {
      margin-top: -1px;
      background: #eee;
      border-color: #ddd;
      box-shadow: inset 0 1px 0 0 #ddd;
    }
    
    img {
      max-width: 100%;
      max-height: 300px;
    }

    .entry {
      // nothing to be done here so far
    }
    
    .editEntry {
      .editEntryForm {
        textarea {
          /*margin-left: 10px;*/
          box-sizing: border-box;
          background: transparent;
          border: 1px solid transparent;
          width: 100% !important;
          padding: 10px 80px 10px 10px;
          font-size: 1em;
          resize: none;
          &:hover, 
          &:focus, 
          &:active {
            background: white;
            border: 1px solid grey;
          }
        }
        
        &.edited .editBtn {
          display: inline;
        }
        .editBtn {
          display: none;
          &:after {
            content: 'Update Post';
          }
          &:hover:after {
            content: 'Alt + Enter';
          }
        }
      }
    }

    .entryOptions {
      .toggle-private {
        margin-left: 5px;
      }
          
      .deleteBtn {
        float: right;
        font-weight: bold;
        background: none;
        font-size: 1em;
        border: none;
        position: relative;
      }
    }
  }
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-entry input {
    padding-bottom: 5px;
  }
}

