/* ==========================================================================
   Main
   ========================================================================== */

/* =Content
-----------------------------------------------------------------------------*/
 
.mainContent {
  margin: 0;
  padding: 0;
  
  li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
    margin-bottom: 0;
    background: #fff;
    &:first-child:before {
      display: block;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      margin-top: -5px;
      height: 1px;
      width: 100%;
      box-shadow: 0 5px 5px 0 #000;
    }

    &.checked, 
    &.checked * {
      color: red;
    }
 
    &.private {
      margin-top: -1px;
      background: #eee;
      border-color: #ddd;
      box-shadow: inset 0 1px 0 0 #ddd;
    }
    
    img {
      max-width: 100%;
      max-height: 300px;
    }

    .entry {
      // nothing to be done here so far
    }
    
    .editEntry {
      .editEntryForm {
        
        textarea {
          @include box-sizing(border-box);
          border: 1px solid transparent;
          border-radius: 3px;
          @include transition-property(border-color, background, box-shadow);
          @include transition-duration(0.2s);
          @include transition-timing-function(ease-in-out);
          background: transparent;
          width: 80% !important;
          padding: 10px;
          font-size: 1.4rem;
          resize: none;
          
          &:hover {
            border: none;
            border: 1px solid $lightgrey;
            background: $lightgrey;
          }
          &:focus {
            border: none;
            border: 1px solid $mediumgrey;
            background: $lightgrey;
            box-shadow: inset 1px 1px 2px rgba($mediumgrey, .5);
          }
          &:focus,
          &:valid {
            outline: none;
          }
        }
        
        .editBtn {
          display: inline;
          width: 100px;
          vertical-align: bottom;
          margin: 0 0 4px 10px;
          &:after {
            content: 'Update Post';
          }
          &:hover:after {
            content: 'Alt + Enter';
          }
          &.none {
            visibility: hidden;
            margin-bottom: 20px;
            opacity: 0;
            height: 0;
            @include transition(visibility 0s .1s, height .1s linear, margin-bottom .1s linear, opacity .1s linear);
          }
          &.edited {
            visibility: visible;
            margin-bottom: 4px;
            opacity: 1;
            height: 37px;
            @include transition(opacity .1s linear);
          } 
        }
      }
    }

    .entryOptions {
      .toggle-private {
        margin-left: 5px;
      }
          
      .deleteBtn {
        float: right;
        font-weight: bold;
        background: none;
        font-size: 1em;
        border: none;
        position: relative;
      }
    }
  }
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-entry input {
    padding-bottom: 5px;
  }
}

