/* ==========================================================================
   Main
   ========================================================================== */

/* =Content
-----------------------------------------------------------------------------*/
 
.mainContent {
  margin: 0;
  padding: 0;
  
  li {
    position: relative;
    list-style: none;
    padding: 20px 15px;
    border-bottom: #eee solid 1px;
    margin-bottom: 0;
    background: #fff;
    @include transition(background .25s linear);
    // &:first-child {
    //   margin-top: 135px;
    // }

    &.checked .textarea, &.checked .entry {
      @include transition(color .25s linear);
      color: red;
    }
 
    &.private {
      background: #eee;
      border-color: #ddd;
      box-shadow: inset 0 1px 0 0 #ddd;
      @include transition(background .25s linear);
    }

    &.important {

    }

    .entryTitle {
      font-weight: bold;
      display: inline-block;
      height: 20px;
      margin-left: 5px;
      @include box-sizing(border-box);
    }
    
    .timestamps {
      float: right;
      color: $mediumgrey;
      opacity: 0;
      font-size: 1rem;
      @include transition(opacity .1s linear);
    }
    &:hover .timestamps {
      opacity: 1;
      @include transition(opacity .1s linear);
    }

    img {
      max-width: 100%;
      max-height: 300px;
    }

    .imgbg-container {
      margin: 10px -2.6% 15px -2.6%;
      width: 105.4% !important;
      min-width: 105.4% !important;
      overflow: hidden;
      position: relative;
      display: none;
      &.yes {
        display: block;
      }

      .imgbg {
        margin: 0 -5%;
        height: 300px;
        width: 110% !important;
        min-width: 110% !important;
        background-size: cover;
        background-position: center;
        color: white;
        text-align: center;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
      }
      .img {
        margin: -300px 0 0 0;
        position: relative;
        display: block !important;
        z-index: 6;
        width: 100%;
        max-width: 100%;
        background: rgba($white, 0.5);
        img {
          margin: auto;
          width: auto !important;
          position: relative;
          display: block !important;
          max-height: 300px !important;
          height: auto !important;
        }
      }
    }
    
    @include dropzone();
    .imageUploadForm {
      display: block;
      @include transition(opacity .1s linear);
      opacity: 0;
      position: absolute;
      margin: 0;
      z-index: 20;
      right: 10px;
      top: 60px;
      width: 130px;
      text-align: right;
      @include transition(opacity .1s linear);

      .dropzone, .clearImgBtn {
        display: inline-block;
        @include box-sizing(border-box);
        vertical-align: top;
        padding: 0;
        line-height: 27px;
        height: 27px;
        font-size: 1.8rem;
        text-align: center;

      }
      .dropzone {
        width: 40px;
        line-height: 27px;
        height: 27px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        div {
          line-height: 25px;
          height: 25px;
        }
      }
      .clearImgBtn {
        width: 30px;
        background: red;
        font-weight: bold;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 1.5rem;
      }

      &.no {
        opacity: .5;
        bottom: 13px;
        top: auto;
        right: 50px;
        .dropzone {
          border-radius: 3px;
          // div {
          //   display: none; 
          // }
          // &:after {
          //   content: 'Upload Img';
          // }
        }
      }
    }

    &:hover .imageUploadForm {
      opacity: 1;
      @include transition(opacity .1s linear);
    }

    .entry {
      display: block;
      padding: 5px;
      margin: 10px 0 0 0;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-word;
      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      @include transition(color .25s linear);
      img {
        max-height: 300px;
        width: auto;
        display: block;
      }
      iframe[src*="bandcamp"] {
        width: 100% !important;
      }
    }

    & > .entry {
      margin: 5px 20% 15px 0;
    }

    .editEntry {
      position: relative;
      &.edited {
        .editEntryForm {
          .textarea {
            display: inline;
          }
          .entry {
            display: none;
          }
          .editLastBtn {
            display: none;
          }
        }
      }

      .editEntryForm {
        margin: 5px 0 15px 0;
        .textarea {
          @include box-sizing(border-box);
          border: 1px solid transparent;
          border-radius: 3px;
          @include transition-property(border-color, background, box-shadow);
          @include transition-duration(0.2s);
          @include transition-timing-function(linear);
          background: $lightgrey;
          width: 80% !important;
          padding: 5px;
          font-size: 1.4rem;
          resize: none;
          cursor: text;
          line-height: normal;
          display: none;
          color: $darkgrey;

          &:focus {
            border: 1px solid $mediumgrey;
            background: $lightgrey;
            box-shadow: inset 1px 1px 2px rgba($mediumgrey, .5);
            @include transition-property(border-color, background, box-shadow);
            @include transition-duration(0.1s);
            @include transition-timing-function(linear);
          }
          &:focus,
          &:valid {
            outline: none;
          }
        }

        .entry {
          top: -5px;
          left: 0;
          width: 100%;
          padding-right: 20%;
          border: 1px solid transparent;
          position: relative;
          line-height: normal;
          @include box-sizing(border-box);
          border-radius: 3px;
          display: block;
          cursor: default;
          background: transparent;
          @include transition(background .1s linear);
          color: $darkgrey;
        }

        .editLastBtn {
          @include button(#2980b9);
          position: absolute;
          top: -2px;
          right: 3px;
          padding: 5px 10px;
          font-size: 1.8rem;
        }
        
        .editBtn {
          @include button(#2980b9);
          display: inline;
          width: 100px;
          vertical-align: bottom;
          margin: 0 0 2px 10px;
          &:after {
            content: 'Update Post';
          }
          &:hover:after {
            content: 'Alt + Enter';
          }
          &.none {
            display: none;
          }
          &.edited {
            height: 33px;
            display: inline;
          } 
        }
      }
    }

    &:hover .editEntry .entry {
      border: 1px solid transparent;
      background: $lightgrey;
      @include transition(background .1s linear);
    }

    &:hover .entryOptions,
    &:hover .editLastBtn {
      opacity: 1;
      @include transition(opacity .1s linear);
    }
    .entryOptions,
    .editLastBtn {
      opacity: .3;
      @include transition(opacity .1s linear);
          
      .deleteBtn {
        float: right;
        font-weight: bold;
        background: none;
        cursor: pointer;
        font-size: 1em;
        border: none;
        position: relative;
      }
    }
  }
}

.loadMoreBtn {
  @include button(blue);
  margin: 20px 0 0 0;
  font-weight: bold;
  width: 100%;
  height: 30px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-entry input {
    padding-bottom: 5px;
  }
}

