/* ==========================================================================
   Main
   ========================================================================== */

/* =Content
-----------------------------------------------------------------------------*/
 
.mainContent {
  margin: 0;
  padding: 0;
  
  li {
    position: relative;
    list-style: none;
    padding: 20px 15px;
    border-bottom: #eee solid 1px;
    margin-bottom: 0;
    background: #fff;
    @include transition(background .25s linear);
    // &:first-child {
    //   margin-top: 135px;
    // }

    &.checked textarea, &.checked .entry {
      @include transition(color .25s linear);
      color: red;
    }
 
    &.private {
      background: #eee;
      border-color: #ddd;
      box-shadow: inset 0 1px 0 0 #ddd;
      @include transition(background .25s linear);
    }

    &.important {

    }

    .entryTitle {
      font-weight: bold;
      display: inline-block;
      height: 20px;
      margin-left: 10px;
      @include box-sizing(border-box);
    }
    
    .timestamps {
      float: right;
      color: $mediumgrey;
      opacity: 0;
      font-size: 1rem;
      @include transition(opacity .1s linear);
    }
    &:hover .timestamps {
      opacity: 1;
      @include transition(opacity .1s linear);
    }

    img {
      max-width: 100%;
      max-height: 300px;
    }

    .imgbg-container {
      margin: 10px -2.6%;
      width: 105.4% !important;
      min-width: 105.4% !important;
      overflow: hidden;
      position: relative;
      display: none;
      &.yes {
        display: block;
      }

      .imgbg {
        margin: 0 -5%;
        height: 300px;
        width: 110% !important;
        min-width: 110% !important;
        background-size: cover;
        background-position: center;
        color: white;
        text-align: center;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -o-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
      }
      .img {
        margin: -300px 0 0 0;
        position: relative;
        display: block !important;
        z-index: 6;
        width: 100%;
        max-width: 100%;
        background: rgba($white, 0.5);
        img {
          margin: auto;
          width: auto !important;
          position: relative;
          display: block !important;
          max-height: 300px !important;
          height: auto !important;
        }
      }
    }
    
    @include dropzone();
    .imageUploadForm {
      display: block;
      @include transition(opacity .1s linear);
      opacity: 0;
      position: absolute;
      margin: 0;
      z-index: 20;
      right: 10px;
      top: 60px;
      width: 130px;
      text-align: right;
      @include transition(opacity .1s linear);

      &:hover {
        @include transition(opacity .1s linear);
        opacity: 1 !important;
      }

      .dropzone, .clearImgBtn {
        display: inline-block;
        @include box-sizing(border-box);
        vertical-align: top;
        padding: 0;
        line-height: 27px;
        height: 27px;
        text-align: center;

      }
      .dropzone {
        width: 100px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .clearImgBtn {
        width: 30px;
        background: red;
        font-weight: bold;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        font-size: 1.5rem;
      }

      &.no {
        opacity: .5;
        bottom: 13px;
        top: auto;
        right: 50px;
        .dropzone {
          border-radius: 3px;
          div {
            display: none; 
          }
          &:after {
            content: 'Upload Img';
          }
        }
      }
    }

    &:hover .imageUploadForm {
      opacity: .5;
      @include transition(opacity .1s linear);
    }

    .entry {
      display: block;
      margin: 10px;
      @include transition(color .25s linear);
    }


    .editEntry {
      .editEntryForm {
        
        textarea {
          @include box-sizing(border-box);
          border: 1px solid transparent;
          border-radius: 3px;
          @include transition-property(border-color, background, box-shadow);
          @include transition-duration(0.1s);
          @include transition-timing-function(linear);
          background: transparent;
          width: 80% !important;
          padding: 10px;
          font-size: 1.4rem;
          resize: none;
          @include transition(color .25s linear);
          
          &:focus {
            border: none;
            border: 1px solid $mediumgrey;
            background: $lightgrey;
            box-shadow: inset 1px 1px 2px rgba($mediumgrey, .5);
          }
          &:focus,
          &:valid {
            outline: none;
          }
        }
        
        .editBtn {
          @include button(#2980b9);
          display: inline;
          width: 100px;
          vertical-align: bottom;
          margin: 0 0 2px 10px;
          &:after {
            content: 'Update Post';
          }
          &:hover:after {
            content: 'Alt + Enter';
          }
          &.none {
            visibility: hidden;
            margin-bottom: 20px;
            opacity: 0;
            height: 0;
            @include transition(visibility 0s .1s, height .1s linear, margin-bottom .1s linear, opacity .1s linear);
          }
          &.edited {
            visibility: visible;
            margin-bottom: 2px;
            opacity: 1;
            height: 39px;
            @include transition(opacity .1s linear);
          } 
        }
      }
    }

    &:hover .editEntry textarea {
      border: none;
      border: 1px solid $lightgrey;
      background: $lightgrey;
    }

    &:hover .entryOptions {
      opacity: 1;
      @include transition(opacity .1s linear);
    }
    .entryOptions {
      opacity: .3;
      @include transition(opacity .1s linear);
          
      .deleteBtn {
        float: right;
        font-weight: bold;
        background: none;
        font-size: 1em;
        border: none;
        position: relative;
      }
    }
  }
}

.loadMoreBtn {
  @include button(blue);
  margin: 20px 0;
  font-weight: bold;
  width: 100%;
  height: 30px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  .new-entry input {
    padding-bottom: 5px;
  }
}

