@mixin search() {
  .searchForm {
    display: none;
    background: $transparent;
    position: fixed;
    top: 10px;
    padding: 15px 0 10px 0;
    margin-left: -5px;
    width: 610px;
    height: 90px;
    z-index: 100;
    box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24), 0 0 0 15px $lightgrey;
    @include breakpoint(baby) {
      top: 0;
      width: 100%;
      margin-left: 0;
      margin-top: -5px;
      box-shadow: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);
    }
    &.searchActive {
      display: block;
      background: rgba($white, .5);
      @include transition(background .2s ease-in-out);
      .searchInput {
        color: $darkgrey;
        border-color: transparent;
        @include transition(color .2s 0s ease-in-out);
      }
    }
    .searchInput {
      background: $transparent;
      border: none;
      line-height: 100%;
      height: 60%;
      top: 20%;
      position: relative;
      width: 100%;
      font-family: 'Titillium Web', sans-serif;
      font-size: 5rem;
      text-align: center;
      cursor: text;
      color: $transparent;
      @include breakpoint(baby) {
        font-size: 16px;
        height: 50%;
      }
      &:focus {
        outline: none;
      }
    }
    .searchCloseBtn {
      position: absolute;
      top: 5px;
      right: 0;
      color: $darkgrey;
      background: transparent;
      font-size: 3rem;
      border: none;
      @include breakpoint(baby) {
        top: 10px;
        right: -5px;
      }
      &:focus {
        outline: none;
      }
      &:hover {
        color: $almostblack;
      }
    }
  }
}
