.toggle {
	display: block;
	position: absolute;
	right: 10px;
	top: 10px;
	user-select: none;
	@include box-sizing(border-box);
}

.toggle--checkbox {
  display: none;
}
.toggle--btn {
	display: block;
	margin: 0 auto;

	font-size: 1.4em;

	transition: all 350ms ease-in;

	&:hover {
		cursor: pointer;
	}
}

.toggle--btn,
.toggle--checkbox,
.toggle--feature {
	&,
	&:before,
	&:after {
		transition: all 250ms ease-in;
	}
	&:before,
	&:after {
		content: '';
		display: block;
	}
}

/* ===================================================
   Day/Night toggle button
   =================================================== */

	$toggleHeight: 40px;
	$toggleWidth: 70px;
	$borderWidth: 3px;
	$toggleBtnRadius: $toggleHeight - 10px;

	$bgColor--night: #3c4145;
	$borderColor--night: #1c1c1c;
	$toggleBtn-bgColor--night: #fff;
	$toggleBtn-borderColor--night: #e3e3c7;

	$bgColor--day: #9ee3fb;
	$borderColor--day: #86c3d7;
	$toggleBtn-bgColor--day: #ffdf6d;
	$toggleBtn-borderColor--day: #e1c348;

	$cloud-borderColor: #d3d3d3;
	$cloud-bgColor: #fff;

	.toggle--daynight,
	.toggle--like {
		.toggle--btn {
			position: relative;
			height: $toggleHeight;
			width: $toggleWidth;
			border-radius: $toggleHeight;

			//toggle button
			&:before {
				position: absolute;
				top: 2px;
				left: 2px;
				width: $toggleBtnRadius;
				height: $toggleBtnRadius;
				border-radius: 50%;
			}
		}
	}

	.toggle--daynight {
		.toggle--btn {
			border: $borderWidth solid $borderColor--night;
			background-color: $bgColor--night;

			//toggle button
			&:before {
				background-color: $toggleBtn-bgColor--night;
				border: $borderWidth solid $toggleBtn-borderColor--night;
			}
			&:after {
				position: absolute;
				top: 62%;
				left: $toggleWidth - ($toggleBtnRadius) - ($borderWidth * 2) - 17px;
				z-index: 10;
				width: $toggleBtnRadius / 5;
				height: $toggleBtnRadius / 5;
				opacity: 0;
				background-color: $cloud-bgColor;
				border-radius: 50%;

				//crazy ass box-shadow to make the cloud
				box-shadow: 
							$cloud-bgColor 2px 0 0 2px,
							$cloud-bgColor 5px 0 0 2px,
							$cloud-bgColor 8px 0 0 2px,
							$cloud-bgColor 11px 0 0 2px,
							$cloud-bgColor 14px 0 0 2px,
							$cloud-bgColor 17px -1px 0 3px,
							$cloud-bgColor 13px -6px 0 1px,
							$cloud-bgColor 8px -6px 0 3px,

							$cloud-borderColor 2px 0 0 5px,
							$cloud-borderColor 5px 0 0 5px,
							$cloud-borderColor 11px 0 0 5px,
							$cloud-borderColor 16px 0 0 5px,
							$cloud-borderColor 17px -1px 0 6px,
							$cloud-borderColor 13px -6px 0 3px,
							$cloud-borderColor 8px -6px 0 6px
							;

				transition: opacity 100ms ease-in;
			}
		}

		@keyframes starry_star {
			50% {
				background-color: rgba(255,255,255,0.1);
				box-shadow: rgba(255, 255, 255, 1) 17px -3px 0 0,
							rgba(255, 255, 255, 1) 12px 10px 0 -1px,
							rgba(255,255,255,0.1) 17px 16px 0 1px,
							rgba(255, 255, 255, 1) 3px 22px 0 0,
							rgba(255,255,255,0.1) 16px 24px 0 -1.5px;
			}
		}
		@keyframes bounceIn {
			0% {
				opacity: 0;
				transform: scale(.3);
			}
			50% {
				opacity: 100;
				transform: scale(1.1);
			}
			55% {
				transform: scale(1.1);
			}
			75% {
				transform: scale(.9);
			}
			100% {
				opacity: 100;
				transform: scale(1);
			}
		}
		//stars
		.toggle--feature {
			display: block;
			position: absolute;
			top: 9px;
			left: 56.5%;
			z-index: 20;
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background-color: #fff;

			box-shadow: rgba(255, 255, 255, 0.1) 17px -3px 0 0, 
									rgba(255, 255, 255, 0.1) 12px 10px 0 -1px, 
									rgba(255, 255, 255, 1) 17px 16px 0 1px, 
									rgba(255, 255, 255, 0.1) 3px 22px 0 0, 
									rgba(255, 255, 255, 1) 16px 24px 0 -1.5px;

			animation: starry_star 5s ease-in-out infinite;

			&:before {
				position: absolute;
				top: -3px;
				left: -17px;
				width: 6px;
				height: 6px;
				background-color: $toggleBtn-bgColor--night;
				border-radius: 50%;
				border: 3px solid $toggleBtn-borderColor--night;

				box-shadow: $toggleBtn-borderColor--night -20px 0 0 -3px,
							$toggleBtn-borderColor--night -8px 15px 0 -2px;

				transform-origin: -6px 130%;
			}
		}

		//what happens once checkbox is checked
		.toggle--checkbox:checked {
			 & + .toggle--btn {
				background-color: $bgColor--day;
				border: $borderWidth solid $borderColor--day;

				&:before {
					left: $toggleWidth - ($toggleBtnRadius) - ($borderWidth * 2) - 4px;
					background-color: $toggleBtn-bgColor--day;
					border: $borderWidth solid $toggleBtn-borderColor--day;
				}
				&:after {
					opacity: 100;
					animation-name: bounceIn;
					animation-duration: 0.60s;
					animation-delay: 0.10s;
					animation-fill-mode: backwards;
					animation-timing-function: ease-in-out;
				}

				> .toggle--feature {
					opacity: 0;
					box-shadow: rgba(255,255,255,0.1) 30px -3px 0 -4px,
								rgba(255,255,255,0.1) 12px 10px 0 -5px,
								#fff 38px 18px 0 -3px,
								rgba(255,255,255,0.1) 32px 34px 0 -4px,
								#fff 20px 24px 0 -5.5px,
								rgba(255,255,255,0.1) 5px 38px 0 -3px;
					animation: none;

					&:before {
						left: 25px;
						transform: rotate(70deg);
					}
				}
			}
		}
	}